body {
  background: grey;
  font-family: helvetica cursive;
}
h1, h2, h3 {
  color: magenta;
  font-family: helvetica
}
a {color:#500;
  font-family: arial
}

p {
  background-color: lightgrey;
  font-family: arial fantasy;
  padding: 20px,
}
header {
  font-family: helvetica;
  background: #999;

}
