body {
  align-content: center;
  background: #eaeaea;
  font-family: helvetica;
  color: #f2f2fc;
  margin: 30px;
}
h1, h2, h3 {
  color: #35a0bb;
  font-family: helvetica;
  margin: 10px;

}
a {color:#1e607b;
  font-family: helvetica;
  margin: 15px;
}

p {
  color: #1e607b;
  font-family: helvetica;
  margin-left: 100px;
  align-content: space-around;
}
header {
  font-family: helvetica;
  background: #e1e1e1;
  margin: 100px;
  align-content: center;
}
